<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-genCodeComponentTable-edit" th:object="${genCodeComponentTable}">
        <input id="id" name="id" th:field="*{id}"  type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">所属领域：</label>
            <div class="col-sm-8">
                <input id="domainName" name="domainName" th:value="${domainName}" class="form-control" type="text" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">领域编码：</label>
            <div class="col-sm-8">
                <input id="domainCode" name="domainCode" th:value="${domainCode}" class="form-control" type="text" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">所属组件：</label>
            <div class="col-sm-8">
                <input id="conmponentName" name="conmponentName" th:value="${conmponentName}" class="form-control" type="text" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">中文表名：</label>
            <div class="col-sm-8">
                <input id="tableName" name="tableName" th:field="*{tableName}" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">英文表名：</label>
            <div class="col-sm-8">
                <input id="tableEnName" name="tableEnName" th:field="*{tableEnName}"  class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">映射包名：</label>
            <div class="col-sm-8">
                <input id="packageName" name="packageName" th:field="*{packageName}" class="form-control" type="text">
                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 例如：com.casic706.api</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">映射类名：</label>
            <div class="col-sm-8">
                <input id="className" name="className" th:field="*{className}" class="form-control" type="text">
                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 例如：TSystemUser 跟模块的包名结合</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">普通表类型：</label>
            <div class="col-sm-8">
                <div class="radio-box" th:each="dict : ${@dict.getType('tool_genCodeComponentTable_tableType_isParent')}">
                    <input type="radio" th:field="*{tableType}" th:id="${dict.dictValue}" id="tableType" name="tableType" th:value="${dict.dictValue}">
                    <label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">表描述：</label>
            <div class="col-sm-8">
                <input id="comments" name="comments" th:field="*{comments}" class="form-control" type="text">
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script th:inline="javascript">
    var prefix = ctx + "tool/genCodeComponentTable";
    $("#form-genCodeComponentTable-edit").validate({
        rules:{
            /*tableName:{
                required:true,
                remote: {
                    url: prefix + "/checkFieldUnique",
                    type: "post",
                    dataType: "json",
                    data: {
                        "filedName": "table_name",
                        "fieldValue": function () {
                            return $.common.trim($("#tableName").val());
                        },
                        id:function () {
                            return $.common.trim($("#id").val());
                        }
                    },
                    dataFilter: function (data, type) {
                        return $.validate.unique(data);
                    }
                }
            },*/
            tableEnName:{
                required:true,
                remote: {
                    url: prefix + "/checkFieldUnique",
                    type: "post",
                    dataType: "json",
                    data: {
                        "filedName": "table_en_name",
                        "fieldValue": function () {
                            return $.common.trim($("#tableEnName").val());
                        },
                        id:function () {
                            return $.common.trim($("#id").val());
                        }
                    },
                    dataFilter: function (data, type) {
                        return $.validate.unique(data);
                    }
                }
            },
            packageName:{
                required:true,
            },
            className:{
                required:true,
                remote: {
                    url: prefix + "/checkFieldUnique",
                    type: "post",
                    dataType: "json",
                    data: {
                        "filedName": "class_name",
                        "fieldValue": function () {
                            return $.common.trim($("#className").val());
                        },
                        id:function () {
                            return $.common.trim($("#id").val());
                        }
                    },
                    dataFilter: function (data, type) {
                        return $.validate.unique(data);
                    }
                }
            },
            tableType: {
                required:true
            }
        },
        messages: {
            "tableEnName": {
                remote: "表英文名称已经存在"
            },
            /*"tableName": {
                remote: "表中文名称已经存在"
            },*/
            "className":{
                remote: "映射类名已经存在"
            }
        }
    });

    //判断字符是否为空的方法
    function isEmpty(obj){
        if(typeof obj == "undefined" || obj == null || obj == ""){
            return true;
        }else{
            return false;
        }
    }

    function submitHandler() {
        if ($.validate.form()) {
            console.log($('#form-genCodeComponentTable-edit').serialize());
            $.operate.save(prefix + "/edit", $('#form-genCodeComponentTable-edit').serialize());
        }
    }
</script>
</body>
</html>
