<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal edit-form" id="fileReceive-form">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group" style="width: 100%;">
                    <label class="col-md-3 control-label">登记号：</label>
                    <div class="col-md-9">
                        <input  name="registrationNum" class="form-control" type="text" placeholder="登记号" style="width: 100%;">
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" style="width: 100%;">
                    <label class="col-md-3 control-label">标题：</label>
                    <div class="col-md-9">
                        <input  name="title" class="form-control" type="text" placeholder="标题" style="width: 100%;">
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" style="width: 100%;">
                    <label class="col-md-3 control-label">来文单位：</label>
                    <div class="col-md-9">
                        <input  name="communicationUnit" class="form-control" type="text" placeholder="来文单位" style="width: 100%;">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group" style="width: 100%;">
                    <label class="col-md-3 control-label">联合单位：</label>
                    <div class="col-md-9">
                        <input  name="jointUnit" class="form-control" type="text" placeholder="联合单位" style="width: 100%;">
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" style="width: 100%;">
                    <label class="col-md-3 control-label">份数：</label>
                    <div class="col-md-9">
                        <input name="numOfCopies" class="form-control" type="number" placeholder="份数" style="width: 100%;">
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" style="width: 100%;">
                    <label class="col-md-3 control-label">文件密级：</label>
                    <div class="col-md-9">
                        <select id="secretLevel" name="secretLevel" th:with="type=${@dict.getType('secrecy_level')}">
                            <option value="">所有</option>
                            <option th:each="dict: ${type}" th:text="${dict.dictLabel}"
                                    th:value="${dict.dictValue}"></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="controls" style="text-align: right;margin-right: 32px;">
                    <a class="btn btn-primary btn-rounded btn-sm true" onclick="$.table.search()"><i class="fa fa-search"></i>查询</a>
                    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                            class="fa fa-refresh"></i>&nbsp;重置</a>
                </div>
            </div>
        </div>
    </form>

    <div class="form-group-separator" style="height: 1px;background: #eee;margin-bottom: 15px;"></div>

    <fieldset>
        <legend>待选文件列表
        </legend>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-sm-12 select-table table-bordered">
                        <table id="bootstrap-table" data-mobile-responsive="true"></table>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    <div class="form-group-separator" style="height: 1px;background: #eee;margin-bottom: 15px;"></div>

    <fieldset>
        <legend>已选文件列表</legend>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-sm-12 select-table table-bordered">
                        <table id="bootstrap-table_selected" data-mobile-responsive="true"></table>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    <div class="row" style="margin-top: 50px;">
        <div class="col-sm-12">
            <div class="control-group">
                <div class="controls" style="text-align: center">
                    <button type="button" class="btn btn-primary" id="save">保存</button>
                    <button type="button" class="btn btn-primary" id="cancel">取消</button>
                </div>
            </div>
        </div>
    </div>

</div>
<div th:include="include::footer"></div>
<script th:inline="javascript">
    var prefix = ctx + "bank/analysisManage";
    var secrecyLevelDatas = [[${@dict.getType('secrecy_level')}]];
    var plan = [[${bankAnalysisManage}]];
    var planId = [[${planId}]];
    var selectNum = [[${selectNum}]];
    var selected_option;
    var  initRows = [];
    function selectTableItem() {
        selected_option = {
            method: "post",
            url: prefix + '/findSelectedBankAnalysisDetail?planId=' + planId,
            contentType: "application/x-www-form-urlencoded",
            striped: false,
            uniqueId: 'id',
            idField: 'id',
            clickToSelect: true,
            singleSelect: false,
            editable: true,
            pagination: false,
            maintainSelected: true,
            sortable: true,
            columns: [{
                field: 'id',
                title: 'ID',
                visible: false,
                align: 'center'
            }, {
                field: 'registrationNum',
                title: '登记号',
                align: 'center'
            }, {
                field: 'documentNum',
                title: '文号',
                align: 'center'
            },
                {
                    field: 'title',
                    title: '标题',
                    align: 'center'
                },
                {
                    field: 'secretLevel',
                    title: '密级',
                    align: 'center',
                    editable: {
                        type: 'text'
                    },
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(secrecyLevelDatas, value);
                    }
                },
                {
                    field: 'selectedNum',
                    title: '已选清退份数',
                    align: 'center'
                },
                {
                    field: 'communicationUnit',
                    title: '来文单位',
                    align: 'center'
                },
                {
                    field: 'jointUnit',
                    title: '联合单位',
                    align: 'center'
                },
                {
                    field: 'createTime',
                    title: '收文时间',
                    align: 'center'
                }],
            onLoadSuccess: function () {
                var $bootstrapSelected = $("#bootstrap-table_selected");
                var rows = $bootstrapSelected.bootstrapTable("getData",false);
                var ids = $.map(rows, function (item) {
                    return item.id;
                });
                /*$("#bootstrap-table").bootstrapTable("checkBy", {
                    field: "id",
                    values: ids
                });*/
            }
        };
        $("#bootstrap-table_selected").bootstrapTable(selected_option);
    }
    (function ($) {
        var options = {
            url: prefix + "/receiveList?planId=" + planId,
            sortName: "createTime",
            sortOrder: "desc",
            uniqueId: 'id',
            idField: 'id',
            search: false,
            showExport: false,
            showToggle: false,
            showSearch: false,
            showColumns: false,
            showRefresh: false,
            pagination: true,
            pageSize: 10,
            pageList: [5, 10, 15, 20],
            maintainSelected: true,
            modalName: '选择文件',
            editable: true,
            columns: [
                {
                    checkbox: true,
                    title: '全选',
                    valign: 'middle'
                },
                {
                    field: 'index',
                    title: '序号',
                    visible: false,
                    formatter: function (value, row, index) {
                        return index + 1;
                    }
                },
                {
                    field: 'id',
                    title: 'ID',
                    visible: false,
                    align: 'center'
                },
                {
                    field: 'registrationNum',
                    title: '登记号',
                    align: 'center'
                },
                {
                    field: 'documentNum',
                    title: '文号',
                    align: 'center'
                },
                {
                    field: 'title',
                    title: '标题',
                    align: 'center'
                },
                {
                    field: 'secretLevel',
                    title: '密级',
                    align: 'center',
                    editable: {
                        type: 'text'
                    },
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(secrecyLevelDatas, value);
                    }
                },
                {
                    field: 'numOfCopies',
                    title: '总份数',
                    align: 'center'
                },
                {
                    field: 'selectedNum',
                    title: '已选清退份数',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return value ? value : 0;
                    }
                },
                {
                    field: 'communicationUnit',
                    title: '来文单位',
                    align: 'center'
                },
                {
                    field: 'jointUnit',
                    title: '联合单位',
                    align: 'center'
                },
                {
                    field: 'createTime',
                    title: '收文时间',
                    align: 'center'
                },
                {
                    field: 'fileDetailIds',
                    title: '已选文件编号',
                    align: 'center',
                    visible: false
                },
                {
                    title: '操作',
                    field: 'operate',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-rounded btn-xs" href="#" onclick="selectFile(\'' + row.id + '\', \'' + index + '\', \'' + row.fileDetailIds + '\')"><i class="fa fa-google-wallet"></i>&nbsp;选择文件</a>');
                        return actions.join('');
                    }
                }],
            onLoadSuccess: function () {
                selectTableItem();
            }
        };
        $.table.init(options);
    })(jQuery);

    function initSelectData(rows) {
        $("#bootstrap-table_selected").bootstrapTable('removeAll');
        if (rows.length > 0) {
            //插入新的行
            for (var i = rows.length-1; i >= 0; i--) {
                if (rows[i].fileDetailIds != null) {
                    initRows.push(rows[i]);
                }
            }
            $("#bootstrap-table_selected").bootstrapTable('load', initRows);
        }
    }

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-bankAnalysisManage-add').serialize());
        }
    }

    var inArray = function(arr, elt) {
        for(var i = 0, len = arr.length; i < len; i++) {
            if(arr[i] === elt) {
                return true;
            }
        }
        return false;
    };
    var unique = function(arr) {
        if(arr.length < 2) return arr;
        var i = 0, len = arr.length; re = [];
        for(; i < len; i++) {
            if(!this.inArray(re, arr[i])) {
                re.push(arr[i]);
            }
        }
        return re;
    };

    function selectFile(id, tableIndex, fileDetailIds) {
        var url = ctx + "bank/fileDetail/fileSelect?fileId=" + id + "&fileDetailIds=" + fileDetailIds + "&type=" + 1 + "&planId=" + planId;
        layer.open({
            title: "选择文件",
            type: 2,
            content: url,
            area: [1000 + 'px', 600 + 'px'],
            fix: false,
            //不固定
            maxmin: true,
            shade: 0.3,
            btn: ['确定', '关闭'],
            // 弹层外区域关闭
            shadeClose: true,
            yes: function(index, layero) {
                var iframeWin = layero.find('iframe')[0];
                var selectionRows = iframeWin.contentWindow.selectionRows();
                var selectionIds = $.map(selectionRows, function (item) {
                    return item.id;
                });
                console.log(unique(selectionIds));
                //将数据插入已选列表
                insertSelectedList(id,tableIndex, unique(selectionIds));
                layer.close(index);
            },
            cancel: function(index) {
                return true;
            }
        })
    }

    function insertSelectedList(id, tableIndex, selectionIds) {
        var length = selectionIds.length;
        var $bootstrap = $("#bootstrap-table");
        var row = $bootstrap.bootstrapTable("getRowByUniqueId", id);
        var bootstrapTable = $("#bootstrap-table_selected").bootstrapTable('getData', false);
        var map = bootstrapTable.map(function (item) {
            return item.id;
        });
        if (length > 0) {
            row["selectedNum"] = length;
            row["fileDetailIds"] = selectionIds.join(",");
            $bootstrap.bootstrapTable('updateRow', {
                index: tableIndex,
                row: row
            });
            if ($.inArray(id, map) >= 0) {
                //编辑行
                $("#bootstrap-table_selected").bootstrapTable('updateByUniqueId', {
                    id: id,
                    replace: true,
                    row: row
                });
            } else {
                //插入新的行
                $("#bootstrap-table_selected").bootstrapTable('prepend', row);
            }
        } else {
            if ($.inArray(id, map) >= 0) {
                //删除选中的行
                $("#bootstrap-table_selected").bootstrapTable('removeByUniqueId',id);
                row["selectedNum"] = length;
                row["fileDetailIds"] = "";
                $bootstrap.bootstrapTable('updateByUniqueId', {
                    id: id,
                    row: row
                });
            }
        }
    }

    /**
     * 保存清退计划
     */
    $('#save').on('click', function () {
        var $bootstrap = $("#bootstrap-table_selected");
        //获取包含分页的数据
        var row = $bootstrap.bootstrapTable("getData", false);
        if (row.length > 0) {
            $.modal.loading("正在处理中，请稍后...");
            var config = {
                url: prefix + "/edit",
                type: "post",
                dataType: "json",
                data: {
                    "bankAnalysisVOs" : JSON.stringify(row),
                    "planId": planId
                },
                success: function(result) {
                    if (result.code == 0) {
                        $.modal.msgReload("保存成功,正在刷新数据请稍后……","success");
                        refreshMenuItem(prefix);
                        var dataUrl = prefix + '/edit/' + planId;
                        $.modal.closeTab(dataUrl);

                        /*layer.msg("保存成功,正在刷新数据请稍后……", {
                                icon: $.modal.icon("success"),
                                time: 500,
                                shade: [0.1, '#8F8F8F']
                            },
                            function() {
                                $.modal.reload();
                                refreshMenuItem(prefix);
                                var dataUrl = prefix + '/edit/' + planId;
                                $.modal.closeTab(dataUrl);
                            });*/
                    } else {
                        $.modal.alertError(result.msg);
                    }
                    $.modal.closeLoading();
                }
            };
            $.ajax(config)
        } else {
            layer.msg("请至少选择一条数据")
        }
    });

    $('#cancel').on('click', function () {
        //关闭tab页
        var dataUrl = prefix + '/edit/' + planId;
        $.modal.closeTab(dataUrl);
    });

    $('#bootstrap-table')
        .on("check-all.bs.table",(event,rows)=>{
            rows.forEach(function(item){
                batchSelectFile(item);
            });
        }).on("uncheck-all.bs.table",(event,rows)=>{
        rows.forEach(function(item){
            batchCancelFile(item);
        });
    }).on("check.bs.table",(event,row)=>{
        batchSelectFile(row);
    }).on("uncheck.bs.table",(event,row)=>{
        batchCancelFile(row);
    });

    function batchSelectFile(row) {
        var accountId = row.id;
        var url = prefix + '/selectBankReceiveFilesDetailByAccountAndPlanId?fileId=' + accountId + "&planId=" + planId;
        $.ajax({
            type: 'POST',
            async: false,
            url: url,
            dataType: 'json',
            contentType  : 'application/json',
            data: {},
        }).done(function (result) {
            console.log(result);
            if (result.length > 0) {
                var selectionIds = $.map(result, function (item) {
                    return item.id;
                });
                var length = selectionIds.length;
                var $bootstrap = $("#bootstrap-table");
                var row = $bootstrap.bootstrapTable("getRowByUniqueId", accountId);
                row["selectedNum"] = length;
                //删除之前的行
                $("#bootstrap-table_selected").bootstrapTable('removeByUniqueId', accountId);
                if (length > 0) {
                    $("#bootstrap-table_selected").bootstrapTable('prepend', row);
                }
                //插入新的行
                if (length >= 0) {
                    row["fileDetailIds"] = selectionIds.join(",");
                    $bootstrap.bootstrapTable('updateByUniqueId', {
                        id: accountId,
                        row: row
                    });
                }
            }
        }).fail(function (result) {
            layer.msg("数据加载失败", {icon: 2, time: 2000, shift: 5});
        });
    }

    function batchCancelFile(row) {
        //删除行
        var $bootstrap = $("#bootstrap-table");
        var accountId = row.id;
        row["selectedNum"] = 0;
        row["fileDetailIds"] = [];
        //判断该行数据是否存在
        var bootstrapTable = $("#bootstrap-table_selected").bootstrapTable('getData', false);
        var map = bootstrapTable.map(function (item) {
            return item.id;
        });
        if ($.inArray(accountId, map) >= 0) {
            $("#bootstrap-table_selected").bootstrapTable('removeByUniqueId', accountId);
            $bootstrap.bootstrapTable('updateByUniqueId', {
                id: accountId,
                row: row
            });
        }
    }
</script>
</body>
</html>
