<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.casic.auth.mapper.AuthRoleResourceMapper">
    
    <resultMap type="com.casic.common.web.domain.bo.AuthRoleResource" id="RoleResourceResult">
        <result property="id"    column="id"    />
        <result property="roleId"    column="role_id"    />
        <result property="resourceId"    column="resource_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
	
	<sql id="selectRoleResourceVo">
        select id, role_id, resource_id, create_time, update_time from auth_role_resource
    </sql>
	
    <select id="selectRoleResourceList" parameterType="com.casic.common.web.domain.bo.AuthRoleResource" resultMap="RoleResourceResult">
        <include refid="selectRoleResourceVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="roleId != null "> and role_id = #{roleId}</if>
             <if test="resourceId != null "> and resource_id = #{resourceId}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
         </where>
    </select>
    
    <select id="selectRoleResourceById" parameterType="Integer" resultMap="RoleResourceResult">
        <include refid="selectRoleResourceVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertRoleResource" parameterType="com.casic.common.web.domain.bo.AuthRoleResource">
        insert into auth_role_resource
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			<if test="roleId != null  ">role_id,</if>
			<if test="resourceId != null  ">resource_id,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateTime != null  ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  ">#{id},</if>
			<if test="roleId != null  ">#{roleId},</if>
			<if test="resourceId != null  ">#{resourceId},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
         </trim>
    </insert>
	 
    <update id="updateRoleResource" parameterType="com.casic.common.web.domain.bo.AuthRoleResource">
        update auth_role_resource
        <trim prefix="SET" suffixOverrides=",">
            <if test="roleId != null  ">role_id = #{roleId},</if>
            <if test="resourceId != null  ">resource_id = #{resourceId},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>
	
	<delete id="deleteRoleResourceById" parameterType="Integer">
        delete from auth_role_resource where id = #{id}
    </delete>
	
    <delete id="deleteRoleResourceByIds" parameterType="String">
        delete from auth_role_resource where id in 
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <delete id="deleteResourceByRoleIds">
        delete from auth_role_resource where role_id in 
        <foreach item="roleId" collection="roleIds" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </delete>
    
    
     <insert id="batchInsertRoleResources">
       insert into auth_role_resource (role_id,resource_id,create_time,update_time) values
        <foreach collection="resourceIds" item="res" index="index" separator=",">
            (#{roleId},#{res},sysdate(),sysdate())
        </foreach>
     </insert>
    
    
</mapper>