<style>
    .print_div .print_header{
        text-align: center;
        font-size: 20px;
        margin-top: 20px;
        letter-spacing: 5px;
        font-family: 宋体;
    }
    .print_div .print_body{
        margin-top: 30px;
        font-family: 楷体;
        font-size: 11px;
    }
    .print_body .table_bar{
        line-height: 2;
    }
    .print_body .table_bar span{
        display: inline-block;
        float: left;
        font-family: 楷体;
        font-size: 11px;
    }
    .print_body table{
        width: 100%;
    }
    .print_body table td:first-child {
        width: 15%;
    }
    .print_body table td,.print_body table th{
        border: #333 solid 1px;
        text-align: center;
        line-height: 3;
        font-family: 楷体;
        font-size: 11px;
       /* width: 12.5%;*/
    }
    /*.print_body table td:nth-child(1),.print_body table th:nth-child(1){
        width: 12.5%;
    }*/
    /*.print_body table td:nth-child(2),.print_body table th:nth-child(2){
        width: 12.5%;
    }*/
    .print_body table .total_tr td:nth-child(1){
        font-size: 11px;
        font-weight: bold;
        line-height: 1.1;
    }
    .print_footer{
        margin-top: 20px;
    }
    .print_footer .footer_col3{
        float: left;
        width: 33.33%;
    }
    .print_footer .footer_col3 .sign_block{
        line-height: 4;
    }
    .print_footer .footer_col3 .sign_block span:nth-child(1){
        width: 140px;
        text-align: right;
        display: inline-block;
    }
    .print_footer .footer_col3 .sign_block span:nth-child(2){
        border-bottom: 1px solid #333;
        width: 50%;
        height: 13px;
        display: inline-block;
        vertical-align: middle;
    }
</style>

<div class="print_div">
    <div class="print_header">
        中国农业发展银行收文处理单
    </div>
    <div class="print_body">
        <div class="table_bar">
            <span>收文时间：[[${#dates.format(createTime,'yyyy-MM-dd HH:mm')}]]</span>
        </div>
        <table>
            <thead>
                <tr>
                    <td>登记号</td>
                    <td style=" width: 15%;text-align: left;padding-left: 5px;">[[${registrationNum}]]</td>
                    <td>密级</td>
                    <td style="text-align: left;padding-left: 5px;">[[${secretLevel}]]</td>
                    <td style=" width: 15%;">紧急程度</td>
                    <td style=" width: 8%;">[[${urgency}]]</td>
                    <td style=" width: 12%;">份数</td>
                    <td style=" width: 15%;">[[${numOfCopies}]]</td>
                </tr>
                <tr>
                    <td>文号</td>
                    <td colspan="3">[[${documentNum}]]</td>
                    <td>成文日期</td>
                    <td colspan="3"> [[${#dates.format(handleTime,'yyyy-MM-dd')}]]</td>
                </tr>
                <tr>
                    <td>标题</td>
                    <td colspan="7">[[${title}]]</td>
                </tr>
                <tr>
                    <td>发文单位</td>
                    <td colspan="3">[[${communicationUnit}]]</td>
                    <td>联合单位</td>
                    <td colspan="3">[[${jointUnit}]]</td>
                </tr>
                <tr>
                    <td>部门</td>
                    <td colspan="3">[[${deptName}]]</td>
                    <td>联系人</td>
                    <td>[[${contact}]]</td>
                    <td>联系电话</td>
                    <td>[[${phone}]]</td>
                </tr>
                <tr style="height: 250px">
                    <td>行领导<br>批示意见</td>
                    <td colspan="7" th:utext="${leaderOpinion}" style="padding-left: 20px; text-indent:10px each-line;text-align: left;vertical-align: baseline;">
                    </td>
                </tr>
                <tr style="height: 100px">
                    <td>办公室<br>主任意见</td>
                    <td colspan="7" style="padding-left: 20px; text-indent:10px each-line;text-align: left;vertical-align: baseline;">[[${classOpinion}]]</td>
                </tr>
                <tr style="height: 100px">
                    <td>承办部门<br>办理情况</td>
                    <td colspan="7" style="padding-left: 20px; text-indent:10px each-line;text-align: left;vertical-align: baseline;">[[${rOpinion}]]</td>
                </tr>
                <tr style="height: 100px">
                    <td>协办部门<br>办理情况</td>
                    <td colspan="7" style="padding-left: 20px; text-indent:10px each-line;text-align: left;vertical-align: baseline;">[[${hOpinion}]]</td>
                </tr>
                <tr style="height: 100px">
                    <td>备注</td>
                    <td colspan="7" style="padding-left: 20px; text-indent:10px each-line;text-align: left;vertical-align: baseline;">[[${remark}]]</td>
                </tr>
            </thead>
        </table>
    </div>
</div>