package ${package}.controller.${moduleName};

import java.util.List;
import com.casic.sso.common.support.RequiresPermissions;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Controller;
import org.springframework.ui.ModelMap;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.ResponseBody;
import com.casic.common.annotation.Log;
import com.casic.common.enums.BusinessType;
import ${package}.domain.${moduleName}.${className};
import ${package}.service.${moduleName}.I${className}Service;
import com.casic.sso.common.base.BaseController;
import com.casic.common.web.page.TableDataInfo;
import com.casic.common.base.AjaxResult;

/**
 * ${tableComment} 信息操作处理
 * 
 * @author ${author}
 * @date ${datetime}
 */
@Controller
@RequestMapping("/${moduleName}/${classname}")
public class ${className}Controller extends BaseController
{
    private String prefix = "${moduleName}";
	
	@Autowired
	private I${className}Service ${classname}Service;
	
	@RequiresPermissions("${moduleName}:${classname}:view")
	@GetMapping()
	public String ${classname}()
	{
	    return prefix + "/${className}List";
	}
	
	/**
	 * 查询${tableComment}列表
	 */
	@RequiresPermissions("${moduleName}:${classname}:list")
	@PostMapping("/list")
	@ResponseBody
	public TableDataInfo list(${className} ${classname})
	{
		startPage();
        List<${className}> list = ${classname}Service.select${className}List(${classname});
		return getDataTable(list);
	}
	
	/**
	 * 新增${tableComment}
	 */
	@GetMapping("/add")
	public String add()
	{
	    return prefix + "/${className}Add";
	}
	
	/**
	 * 新增保存${tableComment}
	 */
	@RequiresPermissions("${moduleName}:${classname}:add")
	@Log(title = "${tableComment}", businessType = BusinessType.INSERT)
	@PostMapping("/add")
	@ResponseBody
	public AjaxResult addSave(${className} ${classname})
	{		
		return toAjax(${classname}Service.insert${className}(${classname}));
	}

	/**
	 * 修改${tableComment}
	 */
	@GetMapping("/edit/{${primaryKey.attrname}}")
	public String edit(@PathVariable("${primaryKey.attrname}") ${primaryKey.attrType} ${primaryKey.attrname}, ModelMap mmap)
	{
		${className} ${classname} = ${classname}Service.select${className}ById(${primaryKey.attrname});
		mmap.put("${classname}", ${classname});
	    return prefix + "/${className}Edit";
	}
	
	/**
	 * 修改保存${tableComment}
	 */
	@RequiresPermissions("${moduleName}:${classname}:edit")
	@Log(title = "${tableComment}", businessType = BusinessType.UPDATE)
	@PostMapping("/edit")
	@ResponseBody
	public AjaxResult editSave(${className} ${classname})
	{		
		return toAjax(${classname}Service.update${className}(${classname}));
	}
	
	/**
	 * 删除${tableComment}
	 */
	@RequiresPermissions("${moduleName}:${classname}:remove")
	@Log(title = "${tableComment}", businessType = BusinessType.DELETE)
	@PostMapping( "/remove")
	@ResponseBody
	public AjaxResult remove(String ids)
	{		
		return toAjax(${classname}Service.delete${className}ByIds(ids));
	}
	
   /**
     * 加载所有${tableComment}树
     */
    @GetMapping("/${classname}TreeData")
    @ResponseBody
    public List<Map<String, Object>> ${classname}TreeData()
    {
        ${className} ${classname} = new ${className}();
        List<Map<String, Object>> tree = ${classname}Service.selectMenusBy${className}(${classname});
        return tree;
    }

    /**
      * 选择${tableComment}树
      */
    @GetMapping("/select${className}Tree/{${primaryKey.attrname}}")
    public String select${className}Tree(@PathVariable("${primaryKey.attrname}") String ${primaryKey.attrname})
    {
        ${className} ${classname} = new ${className}();
        ${classname}.set${primaryKey.attrName}(${primaryKey.attrname});
        mmap.put("${classname}", ${classname}Service.selectMenusBy${className}(${classname}));
        return prefix + "/tree";
    }
	
}
