<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="${classname}-form">
                    <div class="select-list">
                        <ul>
                            #foreach($column in $columns)
                                #if($column.isQuery == "1" && $column.showType == "text")
                                
                                <li>
                                    ${column.columnComment}：<input type="text" name="${column.attrname}"/>
                                </li>
                                #end
                            #end
                        
                            #foreach($column in $columns)
                                #if($column.isQuery == "1" && $column.showType =="select")
                                
                                <li>
                                    ${column.columnComment}：<select name="${column.attrname}" th:with="type=${@dict.getType('${column.dictType}')}">
                                        <option value="">全部</option>
                                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                    </select>
                                </li>
                                #end
                            #end
                            
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.treeTable.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        		<div class="btn-group-sm hidden-xs" id="toolbar" role="group">
        			<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="${moduleName}:${classname}:add">
        				<i class="fa fa-plus"></i> 添加
        			</a>
        			<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="${moduleName}:${classname}:edit">
        	            <i class="fa fa-edit"></i> 修改
        	        </a>
        			<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="${moduleName}:${classname}:remove">
        				<i class="fa fa-remove"></i> 删除
        			</a>
        		</div>
        			
        		<div class="col-sm-12 select-table table-striped">
        			<table id="bootstrap-table" data-mobile-responsive="true"></table>
        		</div>
        	</div>
    </div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
    
    
        var addFlag = [[${@permission.hasPermi('${moduleName}:${classname}:add')}]];
        var editFlag = [[${@permission.hasPermi('${moduleName}:${classname}:edit')}]];
        var removeFlag = [[${@permission.hasPermi('${moduleName}:${classname}:remove')}]];
        #foreach($column in $columns)
            #if($column.dictType)
            
            var ${column.attrname}s = [[${@dict.getType('${column.dictType}')}]];
            #end
        #end
        var prefix = ctx + "${moduleName}/${classname}";

        $(function() {
            var options = {
                code: "${primaryKey.attrname}",
                parentCode: "${parentId.attrname}",
                uniqueId: "${primaryKey.attrname}",
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                modalName: "${tableComment}",
                columns: [{
		            field: 'selectItem',
                    radio: true
		        },
#foreach($column in $columns)
    #if($column.isList == "1" && ($column.showType == "text" || $column.showType == "dateselect"))
    
                    {
                        field : '${column.attrname}', 
                        title : '${column.columnComment}' 
                    },
    #end
#end
#foreach($column in $columns)
    #if($column.isList == "1" && ($column.showType == "select" || $column.showType == "radiobox"))
    
                {
                    field : '${column.attrname}', 
                    title : '${column.columnComment}',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(${column.attrname}s, value);
                    }
                     
                },
    #end
#end
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		              if (row.parentId != 0) {
    		              	   var actions = [];
            		           actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.${primaryKey.attrname} + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                           actions.push('<a class="btn btn-info  btn-xs ' + addFlag + '" href="#" onclick="$.operate.add(\'' + row.${primaryKey.attrname} + '\')"><i class="fa fa-add">新增</i></a> ');
                           actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.${primaryKey.attrname} + '\')"><i class="fa fa-remove"></i>删除</a>');
                             
            					return actions.join('');
        					} else {
                            return "";
                        }
		            }
		        }]
            };
            $.treeTable.init(options);
            
        });
        
        function remove(id) {
            $.modal.confirm("确定删除该条" + $.table._option.modalName + "信息吗？", function() {
                $.ajax({
                    type : 'post',
                    url: prefix + "/remove/" + id,
                    success : function(result) {
                        if (result.code == web_status.SUCCESS) {
                            $.modal.msgSuccess(result.msg);
                            $.treeTable.refresh();
                        } else {
                            $.modal.msgError(result.msg);
                        }
                    }
                });
            });
        }
    </script>
</body>
</html>