<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.casic.workflow.mapper.FlowBusinessTriggerMapper">
    
    <resultMap type="org.casic.workflow.domain.FlowBusinessTrigger" id="BusinessTriggerResult">
        <result property="id"    column="id"    />
        <result property="processId"    column="process_id"    />
        <result property="stepKey"    column="step_key"    />
        <result property="triggerType"    column="trigger_type"    />
        <result property="triggerUrl"    column="trigger_url"    />
        <result property="userId"    column="user_id"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>
	
	<sql id="selectBusinessTriggerVo">
        select id, process_id, step_key, trigger_type, trigger_url, user_id, del_flag, create_by, create_time, update_by, update_time, remark from flow_business_trigger
    </sql>
	
    <select id="selectBusinessTriggerList" parameterType="org.casic.workflow.domain.FlowBusinessTrigger" resultMap="BusinessTriggerResult">
        <include refid="selectBusinessTriggerVo"/>
        <where>  
            <if test="id != null  and id != '' "> and id = #{id}</if>
             <if test="processId != null  and processId != '' "> and process_id = #{processId}</if>
             <if test="stepKey != null  and stepKey != '' "> and step_key = #{stepKey}</if>
             <if test="triggerType != null  and triggerType != '' "> and trigger_type = #{triggerType}</if>
             <if test="triggerUrl != null  and triggerUrl != '' "> and trigger_url = #{triggerUrl}</if>
             <if test="userId != null  and userId != '' "> and user_id = #{userId}</if>
             <if test="delFlag != null  and delFlag != '' "> and del_flag = #{delFlag}</if>
             <if test="createBy != null  and createBy != '' "> and create_by = #{createBy}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateBy != null  and updateBy != '' "> and update_by = #{updateBy}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
         </where>
    </select>
    
    <select id="selectBusinessTriggerById" parameterType="String" resultMap="BusinessTriggerResult">
        <include refid="selectBusinessTriggerVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBusinessTrigger" parameterType="org.casic.workflow.domain.FlowBusinessTrigger">
        insert into flow_business_trigger
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">id,</if>
			<if test="processId != null  and processId != ''  ">process_id,</if>
			<if test="stepKey != null  and stepKey != ''  ">step_key,</if>
			<if test="triggerType != null  and triggerType != ''  ">trigger_type,</if>
			<if test="triggerUrl != null  and triggerUrl != ''  ">trigger_url,</if>
			<if test="userId != null  and userId != ''  ">user_id,</if>
			<if test="delFlag != null  and delFlag != ''  ">del_flag,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateBy != null  and updateBy != ''  ">update_by,</if>
			<if test="updateTime != null  ">update_time,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  and id != ''  ">#{id},</if>
			<if test="processId != null  and processId != ''  ">#{processId},</if>
			<if test="stepKey != null  and stepKey != ''  ">#{stepKey},</if>
			<if test="triggerType != null  and triggerType != ''  ">#{triggerType},</if>
			<if test="triggerUrl != null  and triggerUrl != ''  ">#{triggerUrl},</if>
			<if test="userId != null  and userId != ''  ">#{userId},</if>
			<if test="delFlag != null  and delFlag != ''  ">#{delFlag},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
         </trim>
    </insert>
	 
    <update id="updateBusinessTrigger" parameterType="org.casic.workflow.domain.FlowBusinessTrigger">
        update flow_business_trigger
        <trim prefix="SET" suffixOverrides=",">
            <if test="processId != null  and processId != ''  ">process_id = #{processId},</if>
            <if test="stepKey != null  and stepKey != ''  ">step_key = #{stepKey},</if>
            <if test="triggerType != null  and triggerType != ''  ">trigger_type = #{triggerType},</if>
            <if test="triggerUrl != null  and triggerUrl != ''  ">trigger_url = #{triggerUrl},</if>
            <if test="userId != null  and userId != ''  ">user_id = #{userId},</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteBusinessTriggerById" parameterType="String">
        delete from flow_business_trigger where id = #{id}
    </delete>
	
    <delete id="deleteBusinessTriggerByIds" parameterType="String">
        delete from flow_business_trigger where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>