package com.casic.${client}.aspect.log;

import com.casic.auth.service.IAuthOperationLogService;
import com.casic.common.utils.AddressUtils;
import com.casic.common.utils.spring.SpringUtils;
import com.casic.common.web.domain.bo.AuthOperationLog;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;

import java.util.TimerTask;

/**
 * 异步工厂（产生任务用）
 *
 * @author yuzengwen
 *
 */
public class AsyncFactory
{
    private static final Logger auth_user_logger = LoggerFactory.getLogger("auth-user");



    /**
     * 操作日志记录
     *
     * @param operLog 操作日志信息
     * @return 任务task
     */
    public static TimerTask recordOper(final AuthOperationLog operLog)
    {
        return new TimerTask()
        {
            @Override
            public void run()
            {
                // 远程查询操作地点
                //operLog.setIp(AddressUtils.getRealAddressByIP(operLog.getIp()));
                IAuthOperationLogService logService = SpringUtils.getBean(IAuthOperationLogService.class);
                logService.insertOperationLog(operLog);
            }
        };
    }


}
